.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card {
  width: 200px;
  height: 200px;
  perspective: 10000px; /* adds 3D effect */
}

.flip-card-inner {
  background-color: #809ebb;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Flips the card when hovered */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-image: url(front-image.png);
  background-size: cover;
}

.flip-card-back {
  background-color: #555;
  transform: rotateY(180deg);
}
